*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'MADEOkineSansPERSONALUSE-Regular';
    src: url(../fonts/MADEOkineSansPERSONALUSE-Regular.otf);
}
@font-face {
    font-family: 'Unigeo64-Light-trial';
    src: url(../fonts/Unigeo64-Light-trial.ttf);
}
@font-face {
    font-family:'Unigeo64-Semibold-trial' ;
    src: url(../fonts/Unigeo64-Semibold-trial.ttf);
}
@font-face {
    font-family: 'Unigeo64-Bold-trial';
    src: url(../fonts/Unigeo64-Bold-trial.ttf);
}
.overlay img{
    width: 100%;
    height: 100vh;
    max-width: 100%;
    filter: blur(5px);
}
.logo{
    display: flex;
    /* margin: 30px; */
    position: absolute;
    top: 30px;
    left: 30px;

}

.logo img{
    width: 116px;
    height: 96px;
    margin-top: 15px;
}

.logo h2{
    font-size: 100px;
    margin-left: 5px;
    color: #ffffff;
    font-family: 'MADEOkineSansPERSONALUSE-Regular';
font-weight: 128;
}

.form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
    width: 300px;
    margin-top: 50px;
}
.form input{
width: 100%;
margin: 10px 0;
outline: none;
border: none;
border-radius: 5px;
padding: 5px;
background-color: #dde3eb;
color: #021b3a;
/* font-family: 'Unigeo64-Light-trial'; */
font-weight: 20;
height: 40px;
}



.btn1{
    width: 100%;
    outline: none;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    padding: 15px;
    font-family:'Unigeo64-Semibold-trial' ;
font-weight: 32;
color: #021B3A;
}

.btn1:hover{
    background-color: black;
    color: white;
}

.icon{
    color: red;
    font-size: 10px;
}
p{
    color: red;
    font-size: 10px;
    margin-bottom: -5px;
    margin-top: -5px;
    padding-left: 5px;
    font-family: 'Unigeo64-Light-trial';
font-weight: 16;
}
.log-in{
    position: absolute;
    left: 50%;
    transform: translateX(-60%);
    bottom: -30px;
}
 .log-in-p{
    color: #ffffff;
    display: inline;
    font-size:10px ;
   font-family: 'Unigeo64-Light-trial';
font-weight: 20;
}
.log-in-a{
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    font-family: 'Unigeo64-Bold-trial';
font-weight: 24;
}
.log-in-a:hover{
    color: #fff;
}


/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
    .form{
        margin-top: 20px;
       }
    .logo img{
        width: 50px;
        height: 50px;
    }
    .logo h2{ 
        font-size: 60px;
    }
 }

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 
    .form{
        margin-top: 40px;
       }
       .logo img{
        width: 60px;
        height: 60px;
    }
    .logo h2{ 
        font-size: 80px;
    }
 }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .form{
        margin-top: 40px;
       }
       .logo img{
        width: 60px;
        height: 60px;
    }
    .logo h2{ 
        font-size: 80px;
    }
  }

  /* // Large devices (desktops, 992px and up) */
  @media (min-width: 992px) and (max-width: 1199.98px) { 
   .form{
    margin-top: 40px;
   }
   .logo img{
    width: 70px;
    height: 70px;
}
.logo h2{ 
    font-size: 85px;
}
   }